build-Hexagon-Desktop-Debug/
Hexagon/build
Hexagon/Images/Unit_originals
Hexagon/Images/Landscape_originals
Hexagon/Images/old
Hexagon/Images/Grid_originals
Hexagon/sounds/sources
**/Hexagon.pro.user*

